.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  #logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .menu-icon {
    cursor: pointer;
    display: none;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .menu-icon {
      display: block;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  
    .nav-links.mobile {
      display: flex;
    }
  }